import type { Type, IApplication } from '@trabpukcip/godsmack'
import app from '../app'

const iocContainer = {
  get: <T>(t: Type<T>): T => (app as IApplication).container.resolve(t)
}

export type IocContainer = typeof iocContainer;

export { iocContainer }
