:root {
  --cell-width: 35px;
  --cell-height: 35px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board > .container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(9, min-content);
}

#board > .container > div {
  width: var(--cell-width);
  height: var(--cell-height);

  border: 0.5px solid black;
  background-color: lightgray;
}

#board > .container > div.hint {
  background-color: darkgray;
}

#board > .container > div.selected {
  background-color: rgba(21, 126, 21, 0.5);
}
