{
  "compilerOptions": {
    "target": "ES2015",
    "module": "CommonJS",
    "lib": ["ESNext", "DOM"],
    "jsx": "react",
    "declaration": true,
    "declarationMap": true,
    "sourceMap": true,
    "rootDir": ".",
    "noEmit": true,
    "importHelpers": true,
    "skipLibCheck": true,
    "strict": true
  }
}
