import { errors } from '@trabpukcip/godsmack'

export const { AuthServiceError, GodsmackError } = errors;

export class MyModuleError extends Error {}
export class RepositoryError extends MyModuleError {}
export class ServiceError extends MyModuleError {}
