import { TypeGraphQL } from "@trabpukcip/godsmack/dist/framework/graphql/TypeGraphQlProvider";
const { ArgsType, Field, Int } = TypeGraphQL;

@ArgsType()
export class SkipAndTakeArgs {
  @Field(type => Int, { nullable: true })
  skip?: number;

  @Field(type => Int, { nullable: true })
  take?: number;
}
